-----BEGIN CERTIFICATE-----
MIIFXTCCA0WgAwIBAgIJALWWvIoQzEzTMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQwHhcNMTgwNzI1MDg1MjMwWhcNMTkwNzI1MDg1MjMwWjBF
MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
CgKCAgEAwDPcdrRV+zWiHKSQwkvqGrv+TPxTcdV/i8R1gKgUOXsPp4hNN1ectA2+
2w17HHM925OdMPILUgveHgrEXT5eC6Nd83houxxID1clQUeP/lglRIuUp9BIf7m6
E8dSnKpzImzVqN5NdqgycX/u3ClaYaum5ThF3H4snQ7slKJu4bmwK5w2j2Vvdwe1
VZrZPzd0xYlU9zmNoY33f7s9dpLoYunbJ5fjy+Uu0p0kEGsNm4Jd1BD7zWBMmFEY
6/9iTFlFyzXM+2k2/jYbviCI2bIqhZA4uFRaWhk+N9EyiFPSy269s7iZsn4rNlYB
VYgXtd2h5ZwymuQmLQorPD1EMDMWururgSk+itFfEBEcnVVQuFErV9reQjOlyxoX
qwA9PGqmSGMPlmjhlfOM7XKOfogsVZ3EU2zkLULTBf6qV1M/vdu1uXbRduA0NScz
n0pajqGvlTX9VeFr0bHwlJ1txjB3W/fwy+ReJ0y03wWaBxEmaMYBRppOm2E2Uevi
rwMe6BM3pNjKzBCgMCpW/l9zAgigLhe+IoOip0zq/3smBnyKUHxOQv8j1kk3WdQf
5xSnH2jzyGqSigN+DTNnLQsrtlW/5yOXHUn0/i5CEykEflZYV5QQ8HrIWn31vXUA
VvUVL0o4q+37GtDMuKkhrS5ecnXV93YOdf5gXKrp+exu8I2QHs0CAwEAAaNQME4w
HQYDVR0OBBYEFBNofuPMTecrPeg08rYjN9D1oXVHMB8GA1UdIwQYMBaAFBNofuPM
TecrPeg08rYjN9D1oXVHMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIB
ACSLMRedvGkFLLc6MiU5H6zHvEO1Rlts+BxUntOzTSpaDjaFIpMvi0gCBH+pmTiM
Ppqn/j/0BkEOSsNOWB3ADxGiu0dCGI+dTa7/nvaEadTbJ8or/8nccgGF9OgQwyLL
Fd68/jbv0DgN3CNo4IUxQI3jk1/d6mpIirGW+Xx+3qHGzwOhbvL9UhKqvtPS4zsX
CUfA6NHF/JyiB7Qnvg0YSX71xjaP41vVVeaMK6kzSf+j4k6bNrAk7K61zyv9jvOR
3ED73ZXE40lBvnvDgD3u1gBVBlYn8Uh8LDITr1ZY5pzsRo9cWKzrAtSCicngQpk/
Kl2iLoTCqtB16b1AHcDbhD9T4Am7gQFVUmnYJTuAxuzLgabH7HXYKAXCNtqdw2NS
SshGHqjwKNxbzSFSK9FwGgIQpvQSE/GU44ku6FZu84y55WaqMT4BdsZe5Kvyohw3
CN25OBqm6TQNydxvAzaRyXiozkY2WdjQEaKRgeziPG93XHGO/n28SWYlm2zuHdd9
4+J4zjTipqMOkn7bJ0qdQAC6sFa/rgAjkhU7ty61F+HkgHrhvULS+JRvcFOiH/QA
lOny9AhWsNckx7IQgWLOQH72lklPMtcaql8CU+CRR9SnTWcBfXOW7hGAO70JPH3y
oEbTX0zMM8sTARo5wmXYVD7ta9PzGr2W6yzl5CPWwLSM
-----END CERTIFICATE-----
