#__author__ = 'anhhv41'

expired_days = 90
password_regex = r'.*'
password_regex_desc = 'password_regex_desc' # example: 'Password must be at least 8 character include all lower, upper, number and special character'
max_password_length = 4096
strict_password_check = False
password_hash_algorithm = 'bcrypt' # choices=['bcrypt', 'scrypt', 'pbkdf2_sha512']
unique_last_password_count = 2