server {{ ntp_server }} iburst

stratumweight 0
makestep 10 3

keyfile /etc/chrony/chrony.keys
commandkey 1
driftfile /var/lib/chrony/chrony.drift
log tracking measurements statistics
logdir /var/log/chrony
maxupdateskew 100.0
dumponexit
dumpdir /var/lib/chrony
allow {{ management_net }}
logchange 0.5
hwclockfile /etc/adjtime
rtcsync
