[defaults]
inventory = inventory
#private_key_file = /root/.ssh/id_rsa
host_key_checking = False

[ssh_connection]
ssh_args = -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey,keyboard-interactive -o ControlMaster=auto -o ControlPersist=60s
