{% for script in keep_vrrp_scripts %}
vrrp_script {{ script.name }} {
{% for command in script.commands %}
   {{ command }}
{% endfor %}
}
{% endfor %}

{% for instance in keep_vrrp_instances %}
vrrp_instance {{ instance.name }} {
{% for cnf in instance.cnf_params %}
   {{ cnf.param }} {% if cnf.val is not none %}{{ cnf.val }}{% endif %}

{% endfor %}
   virtual_ipaddress {
{% for ip in instance.virtual_ipaddrs %}
       {{ ip }}
{% endfor %}
   }
   track_script {
{% for script in keep_vrrp_scripts %}
       {{ script.name }} 
{% endfor %}
   }
}
{% endfor %}
