
# Created and Maintained by Confd

[global]
  fsid = e692fd1e-2bb9-49ed-a924-56d5ac42ed1d

  cluster_network = 192.168.100.0/24
  mon_allow_pool_delete = true
  public_network = 192.168.2.0/24

[mon]


    [mon.compute03]
      host = compute03
      mon_addr = 192.168.2.192
    [mon.compute04]
      host = compute04
      mon_addr = 192.168.2.193
    [mon.controller]
      host = controller
      mon_addr = 192.168.2.191

[osd]

  osd_journal_size = 100

[mds]


[client]


  [client_host]
     

