Listen 8776
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %D(us)" cinder_combined

<VirtualHost *:8776>
    WSGIDaemonProcess cinder-wsgi processes=5 threads=1 user=cinder group=cinder display-name=%{GROUP}
    WSGIProcessGroup cinder-wsgi
    WSGIScriptAlias / /usr/bin/cinder-wsgi
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>

    ErrorLog "|/usr/bin/rotatelogs /var/log/apache2/cinder_error_%Y-%m-%d.log 86400"
    CustomLog "|/usr/bin/rotatelogs /var/log/apache2/cinder_access_%Y-%m-%d.log 86400" vt_combined

    <Directory /usr/bin>
	<IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
        <LimitExcept GET POST HEAD PUT DELETE OPTIONS>
            Deny from all
        </LimitExcept>
        Options -Indexes
    </Directory>
</VirtualHost>
