deb [arch=amd64] http://{{ local_repo_ip }}/ubuntu xenial-updates/pike main
deb [arch=amd64] http://{{ local_repo_ip }}/repo.percona.com/apt xenial main
deb [arch=amd64] http://{{ local_repo_ip }}/nova.clouds.archive.ubuntu.com/ubuntu xenial main universe
deb [arch=amd64] http://{{ local_repo_ip }}/nova.clouds.archive.ubuntu.com/ubuntu xenial-backports main universe
deb [arch=amd64] http://{{ local_repo_ip }}/nova.clouds.archive.ubuntu.com/ubuntu xenial-updates main universe
deb [arch=amd64] http://{{ local_repo_ip }}/docker xenial edge  
deb [arch=amd64] http://{{ local_repo_ip }}/influxdata xenial stable
deb [arch=amd64] http://{{ local_repo_ip }}/td-agent-3 xenial contrib
deb http://{{ local_repo_ip }}/09-updates/custom/ /
