#!/bin/bash
#Fix ATTT
## Fix ATTT
/sbin/iptables -A INPUT -m state --state ESTABLISHED,RELATED -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i lo -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i br+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i qbr+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i qvb+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i qvo+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i tap+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i virbr+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -i veth+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -p icmp -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -m state --state NEW -m tcp -p tcp -s 10.61.188.0/24 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -s {{ management_net }} -m comment --comment "ATTT" -j ACCEPT

#For LMA input
/sbin/iptables -A INPUT -m tcp -p tcp --dport 5000 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -m tcp -p tcp --dport 35357 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -m tcp -p tcp --dport 8041 -m comment --comment "ATTT" -j ACCEPT

#For LBaas
/sbin/iptables -A INPUT -m udp -p udp --dport 5555 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -m comment --comment "ATTT" -j DROP

#For Heat
/sbin/iptables -A INPUT -m tcp -p tcp --dport 8004 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -m tcp -p tcp --dport 80 -m comment --comment "ATTT" -j ACCEPT

### for vrrp
/sbin/iptables -A INPUT -d 224.0.0.0/8 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -p vrrp -m comment --comment "ATTT" -j ACCEPT

#For network storage
/sbin/iptables -A INPUT -s 192.168.10.0/24 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A INPUT -s 192.168.20.0/24 -m comment --comment "ATTT" -j ACCEPT

### Logging and DROP INPUT
/sbin/iptables -A INPUT -m comment --comment "ATTT" -j LOG --log-prefix " DROP INPUT " --log-level 4
/sbin/iptables -A INPUT -m comment --comment "ATTT" -j DROP

/sbin/iptables -A OUTPUT -m state --state ESTABLISHED,RELATED -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o lo -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o br+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o qbr+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o qvb+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o qvo+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o tap+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o virbr+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -o veth+ -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -p icmp -m comment --comment "ATTT" -j ACCEPT

### Output for SIRC
/sbin/iptables -A OUTPUT -d 10.60.97.12/32 -p udp -m state --state NEW -m udp -m multiport --dports 514,1514 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.160.41/32 -p udp -m state --state NEW -m udp -m multiport --dports 514 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.160.41/32 -p tcp -m state --state NEW -m tcp -m multiport --dports 514,5044,6379,9092 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.160.46/32 -p tcp -m state --state NEW -m tcp -m multiport --dports 80,443,4505,4506,6379 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.160.45/32 -p tcp -m state --state NEW -m tcp -m multiport --dports 80,443,4505,4506,6379 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.160.44/32 -p tcp -m state --state NEW -m tcp -m multiport --dports 80,443,4505,4506,6379 -m comment --comment "ATTT" -j ACCEPT

#For LBaas
/sbin/iptables -A OUTPUT -m tcp -p tcp --dport 9443 -m comment --comment "ATTT" -j ACCEPT

### Output for monitoring
/sbin/iptables -A OUTPUT -p tcp -m tcp --dport 8086 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -p tcp -m tcp --dport 24224 -m comment --comment "ATTT" -j ACCEPT

### Output for OTP,Proxy,Monitor
/sbin/iptables -A OUTPUT -d 10.30.118.0/24 -m comment --comment "ATTT" -j ACCEPT

### Output for DNS
/sbin/iptables -A OUTPUT -d 203.113.131.2 -m udp -p udp --dport 53 -m comment --comment "ATTT" -j ACCEPT

### Output for Email
/sbin/iptables -A OUTPUT -d 10.30.130.0/24 -m tcp -p tcp --dport 465 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 10.30.130.0/24 -m tcp -p tcp --dport 25 -m comment --comment "ATTT" -j ACCEPT

### Output for all openstack node
/sbin/iptables -A OUTPUT -d {{ management_net }} -m comment --comment "ATTT" -j ACCEPT
### for vrrp
/sbin/iptables -A OUTPUT -d 224.0.0.0/8 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -p vrrp -m comment --comment "ATTT" -j ACCEPT
### For ntp
/sbin/iptables -A OUTPUT -m udp -p udp --dport 123 -m comment --comment "ATTT" -j ACCEPT


#For network storage
/sbin/iptables -A OUTPUT -d 192.168.10.0/24 -m comment --comment "ATTT" -j ACCEPT
/sbin/iptables -A OUTPUT -d 192.168.20.0/24 -m comment --comment "ATTT" -j ACCEPT


### Logging and DROP OUTPUT
/sbin/iptables -A OUTPUT -m comment --comment "ATTT" -j LOG --log-prefix " DROP OUTPUT " --log-level 4
/sbin/iptables -A OUTPUT -m comment --comment "ATTT" -j DROP

#ACCEPT FORWARD
/sbin/iptables -A FORWARD -m comment --comment "ATTT" -j ACCEPT
