source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ inf_assignment.inf_mgmt }}
iface {{ inf_assignment.inf_mgmt }} inet static
        address {{ management_ip }}
        netmask {{ management_netmask }} 

auto {{ inf_assignment.inf_provider }}  
iface {{ inf_assignment.inf_provider }} inet manual
        up ip link set dev $IFACE up
        down ip link set dev $IFACE down
        post-up ip link set promisc on dev $IFACE

auto {{ inf_assignment.inf_dcn }} 
iface {{ inf_assignment.inf_dcn }} inet manual
        up ip link set dev $IFACE up
        down ip link set dev $IFACE down
        post-up ip link set promisc on dev $IFACE
