[DEFAULT]
graceful_shutdown_timeout = 5

use_syslog = True 
debug = True
logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s %(instance)s
logging_debug_format_suffix = from (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d
logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [-%(color)s] %(instance)s%(color)s%(message)s
logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [%(request_id)s %(user)s %(tenant)s%(color)s] %(instance)s%(color)s%(message)s

enabled_apis = masakari_api
masakari_api_workers = 2
masakari_api_listen = {{ ha_compute_env.MY_IP }}
masakari_api_listen_port = 15868

os_privileged_user_tenant = service
os_privileged_user_password = {{ ha_compute_env.NOVA_PASS }}
os_privileged_user_name = nova
os_privileged_user_auth_url = http://{{ ha_compute_env.CONTROLLER_HOST }}:35357

auth_strategy=keystone

wait_period_after_evacuation = 180

[wsgi]
api_paste_config = /etc/masakari/api-paste.ini

[keystone_authtoken]
auth_uri = http://{{ ha_compute_env.CONTROLLER_HOST }}:5000
auth_url = http://{{ ha_compute_env.CONTROLLER_HOST }}:35357
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = masakari
password = {{ ha_compute_env.MASAKARI_PASS }}
memcached_servers = {{ ha_compute_env.MEMCACHED_SERVERS }}

[database]
connection = mysql+pymysql://masakari:{{ ha_compute_env.MASAKARI_DBPASS }}@{{ mysql_host }}/masakari?charset=utf8

[oslo_messaging_rabbit]
rabbit_hosts = {{ ha_compute_env.RABBIT_HOSTS }}
rabbit_userid = openstack
rabbit_password = {{ ha_compute_env.MSQ_PASS }}
rabbit_retry_interval = 1
rabbit_retry_backoff = 2
rabbit_max_retries = 0
rabbit_durable_queues = true
rabbit_ha_queues = true

[instance_failure]
process_all_instances = false

[host_failure]
evacuate_all_instances = false
