[DEFAULT]
debug = false

[assignment]

[auth]

[cache]

[catalog]

[cors]
allowed_origin = {{ grafana.fqdn }} 
allow_methods = GET,PUT,POST,DELETE,PATCH
allow_headers = X-Auth-Token,X-Openstack-Request-Id,X-Subject-Token,X-Project-Id,X-Project-Name,X-Project-Domain-Id,X-Project-Domain-Name,X-Domain-Id,X-Domain-Name

[cors.subdomain]

[credential]

[database]
connection = mysql+pymysql://keystone:{{ identity_env.KEYSTONE_DBPASS }}@{{ mysql_host }}/keystone

[domain_config]

[endpoint_filter]

[endpoint_policy]

[eventlet_server]

[extra_headers]

[federation]

[fernet_tokens]

[healthcheck]

[identity]

[identity_mapping]

[kvs]

[ldap]

[matchmaker_redis]

[memcache]

[oauth1]

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[paste_deploy]

[policy]

[profiler]

[resource]

[revoke]

[role]

[saml]

[security_compliance]

[shadow_users]

[signing]

[token]
provider = fernet
expiration = {{ keystone_env.TOKEN_EXPIRATION }}

[tokenless_auth]

[trust]
