{# GLOBAL CONFIGURATION #}
global
  chroot {{ ha_global.chroot }} 
  user {{ ha_global.user }} 
  group {{ ha_global.group }} 
  daemon
  log /dev/log    local0
  log /dev/log    local1 notice
  maxconn {{ ha_global.maxconn }} 
{% for cnf in ha_global.stats_cnf %}
  stats {{ cnf.opt }} {{ cnf.val }} 
{% endfor %}

{# DEFAULT CONFIGURATION #}
defaults
  log global
  mode {{ ha_defaults.mode }} 
{% for option in ha_defaults.options %}
  option {{ option }}
{% endfor %}
  retries {{ ha_defaults.retries }}
{% for cnf in ha_defaults.timeout_cnf %}
  timeout {{ cnf.opt }} {{ cnf.val }} 
{% endfor %}

{# LISTEN STATISTIC CONFIGURATION #}
listen stats
  bind {{ ha_stats.ip }}:{{ ha_stats.port }}
  mode {{ ha_stats.mode }}
{% for cnf in ha_stats.stats_cnf %}
  stats {{ cnf.opt }} {% if cnf.val is not none %}{{ cnf.val }}{% endif %}

{% endfor %}

{# CONFIG FOR OPENSTACK SERVICES #}
{% for service in ha_services %}
listen {{ service.name }} 
{% for ip in ha_bind_common_ips %}
  bind {{ ip }}:{{ service.port }} 
{% endfor %}
{% if service.bind_ips is not none %}
{% for ip in service.bind_ips %}
  bind {{ ip }}:{{ service.port }}
{% endfor %}
{% endif %}
{% if service.options is not none %}
{% for option in service.options %}
  {{ option }}
{% endfor %}
{% endif %}
{% for key, value in controllers.items() %}
  server {{ value }} {{ key }}:{{ service.port }} check inter 2000 rise 2 fall 5
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
