vrrp_script check_haproxy {
   script "pkill -0 haproxy"
   interval 2
   weight 2
}
vrrp_sync_group VG_1 {
   group {   
             PRIVATE_V1
             PUBLIC_V1
   }
}
vrrp_instance PRIVATE_V1 {
   state BACKUP
   priority 2
   advert_int 1
   interface eno3
   virtual_router_id 51
   virtual_ipaddress {
       10.10.10.3
   }
   track_script {
       check_haproxy
   }
}
vrrp_instance PUBLIC_V1 {
   state BACKUP
   priority 2
   advert_int 1
   interface eno1
   virtual_router_id 52
   virtual_ipaddress {
       125.212.206.202
   }
   track_script {
       check_haproxy
   }
}
