---

rbd_secret_uuid: 94019c72-1928-4303-8364-c339592c8cdb

ceph:
{% for item in ceph_user_keys %}
{% for service in item.item.services %}
  {{ service.name }}:
    enabled: 1
    user: {{ item.item.name }} 
    keyring: {{ item.stdout }}
    keyring_path: ceph.client.{{ item.item.name }}.keyring
    pool: {{ service.pool }} 
    rbd_secret_uuid: {% raw %}"{{ rbd_secret_uuid }}"{% endraw %}

    client:
      config_path: /etc/ceph/{{ service.name }}.xml
      key_path: /etc/ceph/client.{{ item.item.name }}.key
{% endfor %}
{% endfor %}
